<a href="https://colab.research.google.com/github/PreetiSuhaniPrusty/18CSE082/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Amazon bestselling books dataset comma separated value
path = "https://raw.githubusercontent.com/PreetiSuhaniPrusty/18CSE082/main/bestsellers%20with%20categories.csv"

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(path)

In [5]:
data

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

In [6]:
data = pd.read_csv("https://raw.githubusercontent.com/PreetiSuhaniPrusty/18CSE082/main/bestsellers%20with%20categories.csv")

In [7]:
data

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data.shape

(550, 7)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [11]:
data.index

RangeIndex(start=0, stop=550, step=1)

In [12]:
data.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [13]:
data.head()

                                                Name  ...        Genre
0                      10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                  11/22/63: A Novel  ...      Fiction
2            12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                             1984 (Signet Classics)  ...      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction

[5 rows x 7 columns]

In [14]:
data.tail()

                                                  Name  ...        Genre
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[5 rows x 7 columns]

In [15]:
data.head(3)

                                      Name  ...        Genre
0            10-Day Green Smoothie Cleanse  ...  Non Fiction
1                        11/22/63: A Novel  ...      Fiction
2  12 Rules for Life: An Antidote to Chaos  ...  Non Fiction

[3 rows x 7 columns]

In [16]:
data[['Name',"Author"]].head(10)

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids
5      A Dance with Dragons (A Song of Ice and Fire)       George R. R. Martin
6  A Game of Thrones / A Clash of Kings / A Storm...       George R. R. Martin
7                     A Gentleman in Moscow: A Novel               Amor Towles
8      A Higher Loyalty: Truth, Lies, and Leadership               James Comey
9                          A Man Called Ove: A Novel           Fredrik Backman

In [17]:
### Data Wrangling (Working With Null Values)
data.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [18]:
data.dropna(inplace=True) # removed the null values 1st method remove rows when large data we having
data.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [19]:
data.shape

(550, 7)

In [20]:
data.head(10)    # After removal of nullvalue rows

                                                Name  ...        Genre
0                      10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                  11/22/63: A Novel  ...      Fiction
2            12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                             1984 (Signet Classics)  ...      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
5      A Dance with Dragons (A Song of Ice and Fire)  ...      Fiction
6  A Game of Thrones / A Clash of Kings / A Storm...  ...      Fiction
7                     A Gentleman in Moscow: A Novel  ...      Fiction
8      A Higher Loyalty: Truth, Lies, and Leadership  ...  Non Fiction
9                          A Man Called Ove: A Novel  ...      Fiction

[10 rows x 7 columns]

In [21]:
#2nd method handling missing values
data['Price'].mean()

13.1

In [22]:
data['Price'].head()

0     8
1    22
2    15
3     6
4    12
Name: Price, dtype: int64

In [23]:
import numpy as np

In [24]:
data['Price'].replace(np.NaN,data['Price'].mean()).head()

0     8
1    22
2    15
3     6
4    12
Name: Price, dtype: int64